<!-- <app-diretiva2-ngif></app-diretiva2-ngif> -->
<!-- <app-diretiva2-ngswitch></app-diretiva2-ngswitch> -->
<!-- <app-diretiva2-ngfor></app-diretiva2-ngfor> -->
<!-- <app-diretiva2-ngclass></app-diretiva2-ngclass> -->
<!-- <app-diretiva2-ngstyle></app-diretiva2-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<app-exemplo-ng-content>
    Conteudo passado para o componente exemplo-ng-content
</app-exemplo-ng-content>

<app-exemplo-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">Conteudo passado para o componente exemplo-ng-content</div>
    <div class="corpo">Conteudo passado para o componente exemplo-ng-content 2</div>
</app-exemplo-ng-content>