<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="fulanin de tal">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="fulano@sla.dominio">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>