<p fundoAmarelo >
  Texto com fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>Texto com highlight quando passo o mouse</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">Texto com highlight com cores customizadas</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>

<!-- <div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngIf="!mostrarCursos">
  Nenhum curso encontrado para serem exibidos.
</div> -->
<div *ngIf="mostrarCursos; else elseBlock">Lista de cursos aqui.</div>
<ng-template #elseBlock>Nenhum curso encontrado para serem exibidos.</ng-template>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>